 
.parallax   {
    position: relative;
    width: 100%;
    height: 130vh; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 33;
}
 
#uno {
    z-index: 4;
    
}

#due {
    z-index: 3;

}

#tre {
    z-index: 2;

}

#quttro {
    z-index:1;

}

.parallax img {
    position : absolute;
    top: 0;
    left: 0;
    width: 100%; 
    object-fit: cover;
    pointer-events: none;

}



@media  screen and (max-width: 1500px) {
 
    .parallax   { 
        height: 90vh;  
    }

}


@media  screen and (max-width: 1030px) {
    
    .parallax   { 
        width: 100%;
    }


}

@media  screen and (max-width: 710px) { 
    
    .parallax   { 
        height: 45vh;  
    }


}