.objectives { 
    position: relative; 
    background-color: #619B8A;
    width: 65%;
    margin: 0 auto  ;
    padding: 5vh 2vw;
}

.objectives-container {
    position: relative;
    display: grid ; 
    grid-template-columns: 1fr 1fr 1fr ;
    justify-items: center;
    text-align: center;
    color : #fff;
}

.objectives-container .grid .bold {
    color:#f2f2f2 ;
    font-size: 1.2rem;
}

.objectives-container .grid img{
    margin: 0 auto ; 
}

.objectives-container .grid  {
    padding: 0 2vw;
    width: 80%;
    margin: 0 auto ; 
    font-size: 1.1rem;
}

.grass-left { 
    position: absolute;
    bottom : 0;
    left : -5% ;
}

.grass-right { 
    position: absolute;
    bottom : 0;
    right : -5% ;  
}