.textAnimation {
    text-align: center;
    width: 60%;
    margin: 17vh auto;
}

.textAnimation h2 {
    font-size: 4.5rem;
    color: #619B8A;
    margin:  0 0;
    line-height: 100px;
}

.textAnimation h2 span { 
    color : #F28482;
}


.textAnimation p{ 
    font-size: 1.5rem;
    margin: 3vh 0 ;
    color : #619B8A;
}


.textAnimation .count h2 {
    font-size: 8rem;
    margin:  7vh 0 0 0 ;
    background: linear-gradient(to right, #F28482  25%, #619B8A 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.textAnimation .count p { 
    color: #619B8A;
    font-weight: bold;
    
}


@media  screen and (max-width: 1500px) {

    .textAnimation h2 {
        font-size: 3.5rem;
    }

    .textAnimation p{ 
        font-size: 1.3rem;
    }
    
    
    .textAnimation .count h2 {
        font-size: 4rem;
    }   
}


@media  screen and (max-width: 950px) {
    .textAnimation h2 {
        font-size: 3rem;
    }

    .textAnimation p{ 
        font-size: 1.1rem;
    }
    
    
    .textAnimation .count h2 {
        font-size: 3.5rem;
    }   
}



@media  screen and (max-width: 600px) {
    .textAnimation {
        width: 80%;
        margin: 12vh auto;
    }

    
.textAnimation h2 {
    font-size: 2rem;
    line-height: 60px;
}



}