@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');


.App {

  height: 100vh;
  /* background: linear-gradient(to bottom, #ee4b4b, #fad65f 50%, #DB1174, #9B4CA7); */
  background-color:#F2E2BA;
  font-family: 'Baloo 2', cursive;

}
 

.bordered {
  border-radius: 10px;
}