@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

body { 
  scroll-behavior: smooth;
}

.App {

  /* background: linear-gradient(to bottom, #ee4b4b, #fad65f 50%, #DB1174, #9B4CA7); */
  background-color:hsl(49, 79%, 91%);
  font-family: 'Baloo 2', cursive;  
}
 

.bordered {
  border-radius: 10px;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  transition: 250ms ease-in-out;
}

img:hover {
  transform: scale(1.03);
}